<%= link_to 'Back', pins_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @pin.image.url(:medium) %>
			</div>
			<div class="panel-body">

			<strong><%= @pin.user.name %></strong>
				<p>
				  <%= @pin.description %>
				</p>
				 <% if current_user && @pin.user == current_user %>
				 <%= link_to edit_pin_path(@pin) do %>

				          <span class="glyphicon glyphicon-edit"></span>
				            Edit
			        <% end %>

				<% end %>
			</div>
		</div>	
	</div>
</div>